<div class="container">
<h1>Editar Pin de Youtube</h1>

<%= render 'form' %> 

<p class="pull-left"><%= link_to 'Volver', pins_path, class:"btn btn-default" %></p>

<p class="pull-left"><%= link_to 'Ver este Video', @pin, class:"btn btn-default" %>  </p>
</div>
