<div class="container">

	<div class="row">
		
		<div class="col-lg-8">
			<h1>Nuevo  Youtube Pin </h1>

			<%= render 'form' %>

			 
			<p class="pull-left"><%= link_to 'Ver todos', pins_path, class:"btn btn-default btn-sm" %></p>

		</div>

	</div>


</div>