





<!-- aqui solo cargamos cosas que iran dentro del body-->

<div class="jumbotron ">

			<div class="container">
				<p>
				<%= image_tag("http://4.bp.blogspot.com/-X-Kf0pRvbHc/Trf_6e65DJI/AAAAAAAAAUQ/dLpNUQVYB1w/s1600/titulo_conciertos_comentados.png", class:"img-responsive") %>
				</p>
				<h1>Taller de Rails</h1>
				<h2>//Santiago 2014</h2>
				<hr class="small">

			</div><!-- //fin de container-->

</div><!-- //fin de Jumbotron-->

<div class="container">

		<p>
		<img src="http://www.tu-pc.com/fondos/media/3613.jpg" class="img-responsive" alt="Conciertos Comentados - music urban Project">
		</p>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	<!-- image_tag: genera la imagen con ruby en la ruta Local.-->

<!-- muestro variable con tag image-->
<% 
#comentario en ruby: signo gato
#asignando variables en ruby
a =2+2 %>

<h3>El numero es: <%= a %> </h3> 


<div>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
	<a href="http://www.en1mes.com">Leer más...</a>
 </div>


</div>

