<div class="jumbotron">
	

<h1>Quienes Sómos?</h1>

<h2>
Proyecto musical-urbano, surge de la necesidad de recopilar extractos de músicos que llevan su arte a las calles y escenarios del mundo.
 </h2>

 

</div>

<div class="container">
	
	<p>En ConciertosComentados queremos compartir experiencias en los mas diversos conciertos, tocatas, presentaciones de la calle, JamSession rockeras y otros estilos, en Santiago de Chile y el mundo... Y compartir fotos, videos y Opiniones acerca de estos.
	</p>
	<h3>Larga vida a la Música!</h3>


</div>