.test1{
    background:url(<%= asset_path('dark_wood1.png', image) %>) repeat-x;
    padding-top:0px;
}

.test2{

    background:url(<%= asset_path('dark_wood1.png', image) %>) repeat-x;
    padding-top:0px;
}

.test3 { 
    background: url(<%= asset_data_uri 'dark_wood1.png' %>) repeat-x; 
	padding-top:0px;
}